<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
=======
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
}
>>>>>>> main
